@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100.900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.slider{
    -webkit-appearance: none;
    height: 10%;
    background: transparent;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    min-height: 30px;
    background-image: url(/src/assets/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-layer{
 background-image: url(/img/background.png);   
}